@import url('https://fonts.googleapis.com/css2?family=Roboto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: Roboto;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222f;
}
h1, h2{
    color: #fff;
    text-transform: uppercase;
}
#gtype{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 25px;
    text-align: center;
    color: lime;
    font-weight: bold;
    background-color: #0000;
}

.tiles{
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solid lime;
    outline: none;
    color : white;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 0px 0px 5px lime;
    // backdrop-filter: blur(10px);
    margin: 3px;
}
#winnercard{
    display: none;
}
.tiles:hover{
    background-color: #eee2;
    transform: scale(1.1);
}
.tiles:active{
    background-color: #1112;
}
.controls{
    width: 100vw;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.control{
    padding: 5px 10px;
    font-size: 1.5rem;
    outline:none;
    font-weight: bold;
    background-color: #88ed8833;
    border: 1px solid #22ed22;
    border-radius: 8px;
    color: #55ed54;
    cursor: grab;
}
.control:hover{
    background-color: #88ed8877;
}
.top{
    border-top: none;
}
.bottom{
    border-bottom: none;
}
.left{
    border-left: none;

}
.right{
    border-right: none;
}
