*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 100vh;
    background: linear-gradient(to right, #2646ac44,#fcfc5644),  url('./bg-img.jpg');
}
h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

td{
    width: 2rem;
    height: 2rem;
    background-color: none;
}
.active{
    background-color: #0066a0;
    border:none;
    box-shadow: 0px 0px 12px #0066a3;
    border-radius: 50%;
    backdrop-filter: blur(10px);
}
.dash{
    animation: blinking 1s infinite;
}
.digital-clock{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color:rgba(195,195,255,0.8);
}

.dented-clock{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    margin: 0 20px;
    box-shadow:0 8px 32p 0 rgba(31,38,135,0.37);
    border-radius: 20px;
}

@keyframes blinking{
    0%{
        opacity: 1;
    }
    25%{
        opacity: .50;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .50;
    }
    100%{
        opacity: 1;
    }
}